<footer class="footer mt-auto">
    <div class="copyright bg-white">
        <p>
            &copy; <span id="copy-year">2019</span> Copyright Cứu Hộ Xe
            <a class="text-primary"
               href="/CongTacVien/XacNhanHoSo/Index">Qua Trang Cộng Tác Viên</a>.
        </p>
    </div>
    <script>
				var d = new Date();
				var year = d.getFullYear();
				document.getElementById("copy-year").innerHTML = year;
    </script>
</footer>

